<div class= 'container'>
  <a href='/questions/<%=@question.id%>/edit'>Edit Question</a>

  <h1>Title: <%= @question.title %></h1><br>
  Question: <article><%= @question.body %></article>
  <form method="post" action="/questions/<%= @question.id %>">  <input type="hidden" name="_method" value="delete">         <input type="submit" value="Delete">       </form>



  <br>

  <% if @question.answers %>
  <% @question.answers.each do |answer| %>

    <article><%= answer.text %></article>

    <% end %>
  <% end %>
  <% if @question.comments %>
    <% @question.comments.each do |comment| %>
      <article><%= comment.text %></article>

    <% end %>

  <%else %>
    No questions yet!
  <% end %>


</div>
