<div class= 'container'>



  <h1>Title: <%= @question.title %></h1><br>
  <a href='/questions/<%=@question.id%>/edit'>Edit Question</a> |
  <a href='/questions/<%=@question.id%>/answers/new'>New Answer</a><br>
  <br>
  Question: <article><%= @question.body %></article>
  <form method="post" action="/questions/<%= @question.id %>">  <input type="hidden" name="_method" value="delete">
  <% if current_user && current_user.id == @question.creator_id %>
    <input type="submit" value="Delete">
    </form>
  <%end%>



  <br>

  <% if @question.answers %>

  <% @question.answers.each do |answer| %>

  Answer:<article><%= answer.text %></article>

      <% if !answer.comments.empty? %>
      Answer Comment: <% answer.comments.each do |comment| %>
          <%= comment.text%>
          <form action = '/comments/<%=comment.id%>/vote' method = 'post'>
            <input type = 'submit' value= 'Upvote'>
            <form action = '/comments/<%=comment.id%>/downvote' method = 'post'>
              <input type = 'submit' value= 'Downvote'>
                <input type= 'hidden' name="_method" value='delete'>
          </form>
          <% end %>

      <%end%>
    <br>

    Vote Count: <%= answer.votes.length %>
    <br>
    <form action = '/questions/<%=@question.id%>/answers/<%=answer.id%>/vote' method = 'post'>
      <input type = 'submit' value= 'Upvote'>
    </form>
    <form action = '/questions/<%=@question.id%>/answers/<%=answer.id%>/downvote' method = 'post'>
      <input type = 'submit' value='downvote'>
        <input type= "hidden" name='_method' value='delete'>
    </form>



  <% end %>

  <% if @question.comments %>
    <% @question.comments.each do |comment| %>
      <article><%= comment.text %></article>
      <% end %>
  <%else %>
    No questions yet!
  <% end %>
<% end %>
</div>
