<div class= 'container'>


  <% if current_user && current_user.id == @question.creator_id%>
     <h1>Title: <%= @question.title %></h1><br>
      <a href='/questions/<%=@question.id%>/edit'>Edit Question</a> |
      <a href='/questions/<%=@question.id%>/answers/new'>New Answer</a> |
      <a href='/questions/<%=@question.id%>/comments/new'>Add Comment</a><br>
  <% else %>
  <h1>Title: <%= @question.title %></h1><br>
      <a href='/questions/<%=@question.id%>/answers/new'>New Answer</a> |
      <a href='/questions/<%=@question.id%>/comments/new'>Add Comment</a><br>
  <%end%>

  Question: <article><%= @question.body %></article>
    <form method="post" action="/questions/<%= @question.id %>">  <input type="hidden" name="_method" value="delete">
  <% if current_user && current_user.id == @question.creator_id %>
    <input type="submit" value="Delete">
    </form>
  <%end%>

  <br>

  <% if @question.answers %>
    <% @question.answers.each do |answer| %>

      Answer:<article><%= answer.text %></article>
        <% if current_user && current_user.id == answer.answerer_id%>
            <form method="get" action="/questions/<%=@question.id%>/answers/<%=answer.id%>/edit">
            <input type = 'submit' value= 'edit'>
            </form>
            <form method="post" action="/questions/<%=@question.id%>/answers/<%=answer.id%>">
            <input type = 'submit' value= 'delete'>
            <input type="hidden" name="_method" value="delete">
            </form>
        <% end %>

        <% if !answer.comments.empty? %>
          Answer Comment: <% answer.comments.each do |comment| %>
          <%= comment.text%>

          <form class="up-vote" action = '/comments/<%=comment.id%>/vote' method = 'post'>
            <input class="material-icons green" type = 'submit' value= thumb_up>
            <form class="down-vote" action = '/comments/<%=comment.id%>/downvote' method = 'post'>
              <input class="material-icons red" type = 'submit' value=thumb_down>
                <input type= 'hidden' name="_method" value='delete'>
          </form>
          <% end %>
        <%end%>
  <br>
    <br>

    Vote Count: <%= answer.votes.length %>
    <br>
    <form class="up-vote" action = '/questions/<%=@question.id%>/answers/<%=answer.id%>/vote' method = 'post'>
      <input class="material-icons green"type = 'submit' value=thumb_up>
    </form>
    <form class="down-vote" action = '/questions/<%=@question.id%>/answers/<%=answer.id%>/downvote' method = 'post'>
      <input class="material-icons red" type = 'submit' value=thumb_down>
        <input type= "hidden" name='_method' value='delete'>
    </form>
<% end %>

  <% if @question.comments %>
    <% @question.comments.each do |comment| %>
    <article><%= comment.text %></article>
    <% end %>
  <%else %>
    No questions yet!
  <%end%>
<%end%>
</div>
