
<div class="container">


  <section class="Questions">
    <h1>Most asked questions</h1>
    <ul class="requested">
      <% @question.each do |question| %>
        <li class="QS">
          <article>
            Vote Count: <%= question.votes.length %>
            <form action = "/questions/<%=question.id%>/vote" method= 'post'>
              <input type='submit' value = 'Upvote'>
            </form>
              <%= question.id %>
            <a href="/questions/<%= question.id %>"><%= question.title %></a>

          </article>
        </li>
      <% end %>
    </ul>
  </section>

</div>
