
<div class="container">


  <section class="Questions">
    <ul class="collection with-header lime accent-2">
      <li class="collection-header"><h4 class="feature green-text">Featured Questions</h4></li>
      <% @question.each do |question| %>
        <li class="collection-item #fffde7-text">
          <article>
            Vote Count: <%= question.votes.length %>
            <form class="up-vote" action = "/questions/<%=question.id%>/vote" method= 'post'>
              <input class="material-icons green" type='submit' value=thumb_up>
            </form>

            <form class="down-vote" action= "/questions/<%=question.id%>/downvote" method= 'post'>
              <input class="material-icons red" type='submit' value= thumb_down>
              <input type="hidden" name="_method" value="delete">
            </form>

            <a href="/questions/<%= question.id %>"><%= question.title %></a>

          </article>
        </li>
      <% end %>
    </ul>
  </section>

</div>
